body {
    background-image: url("./images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
    background-color: hsl(275, 100%, 97%);
  }
  
  .app-container {
    display: flex;
    flex-direction: row;     /* This prop defines the main axis (row is the default) */
    justify-content: center; /* This prop aligns items on the main axis */
    align-items: flex-end;   /* This prop aligns items on the cross axis */
  }
  
  .faq-container {
    background-color: hsl(0, 0%, 100%);
    position: fixed;
    top: 275px;
    width: 40%;
    margin-bottom: 50px;
    border-radius: 20px;
    padding: 30px;
  }
  
  @media only screen and (max-width: 480px) {
    body {
      background-image: url("./images/background-pattern-mobile.svg");
    }
  
    .faq-container {
      position: fixed;
      top: 180px;
      width: 75%;
    }
    
  }